POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

SIDPB_DB_USER=
SIDPB_DB_PASSWORD=

CULTURA_DB_USER=
CULTURA_DB_PASSWORD=
# Usar esta versao na DATABASE_URL quando a senha tiver caracteres especiais como @
CULTURA_DB_PASSWORD_URL_ENCODED=

JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=

SIDPB_FRONTEND_URL=
SIDPB_API_URL=
CULTURA_URL=