POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=change_me

SIDPB_DB_USER=sidpb_admin
SIDPB_DB_PASSWORD=change_me

CULTURA_DB_USER=cultura_admin
CULTURA_DB_PASSWORD=change_me

JWT_SECRET=change_me
EMAIL_USER=example@email.com
EMAIL_PASS="change me"

SIDPB_FRONTEND_URL=http://sidpb.nca.ufma.br
SIDPB_API_URL=http://api.spring.ufma.br
CULTURA_URL=http://cultura.nca.ufma.br